<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CflApp - Planning Pompes Funèbres</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  <ion-label class="datePicker"><span>Date</span>
    <!--<ion-input type="date" #datePicker (ionChange)="onDatePickerChanged(date)"></ion-input>-->
    <ion-datetime (ionChange)="onDatePickerChanged()" displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
  </ion-label>

  <div padding class="body-secondary" *ngIf="zones?.err">
    Pas de contenu pour cette date !
  </div>

  <ion-content>
    <ion-list>
      <ion-item no-lines *ngFor="let morning of [true, false]">
        <ion-list>
          <ion-item no-lines *ngIf="morning">Matinée du {{date}}</ion-item>
          <ion-item no-lines *ngIf="!morning">Après-midi du {{date}}</ion-item>
          <ion-item no-lines *ngFor="let z of zones | zoneFilterPipe: morning" class="zone">
            <div class="zoneHeader">
              <div>
                <span class="defunt">{{z?.dft?.DefuntNom}} {{z?.dft?.DefuntPrenom}}</span><br>
                <span class="ordo">{{z?.ordo}}</span>
              </div>
              <div>
                <button class="expand" (click)="toggleItem(z?.id + (morning?'m':'a'))">{{isItemShown(z?.id +
                  (morning?'m':'a')) ? "-" : "+"}}
                </button>
              </div>
            </div>
            <div *ngIf="isItemShown(z?.id + (morning?'m':'a'))">
              <ion-item no-lines>
                <div class="undertakers">
                  <ion-item no-lines *ngFor="let under of z?.equipe" class="undertaker">
                    {{under}}
                  </ion-item>
                </div>
              </ion-item>
              <ion-list class="infosZone">
                <ion-item no-lines *ngFor="let d of z?.getDatas(morning)" class="zoneItem">
                  {{d}}
                </ion-item>
              </ion-list>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
